
          
 body{
    align-items: center;
    text-align: center;
    display:inline-flex ;
     
}


 header{
    position: fixed;
    top:0;
    left:0;
    width:100% ;
    padding: 20px 100px;
    background:rgb(60, 0, 255);
    display:flex ;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}


*{
    margin:0;
    padding: 20px;;
    box-sizing:border-box;
    background-color:aquamarine;
    font-family:"poppins" ,Sans-Serif;
    
}


div{
    position:relative;
    top:left;
    width:600px;
    display:2px 15px;
    justify-content:space-between;
    text-align: center;
    word-spacing:20px;
    
   
}

header.logo{
     position:relative;
     font-size: 30px;
     text-decoration:none;
     letter-spacing:px;
     text-transform:uppercase;
     font-weight:700;
     word-spacing: 5px;
}   
 
header{
    position: fixed;
    top:0;
    left:0;
    width:100% ;
    padding: 20px 100px;
    background:red;
    display:flex ;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: lightblue;
    font-family: poppins ,Sans-Serif;
    
}
 
 
 
  div{
     position:relative;
     top:left;
     width: 600px;
     justify-content:space-between;
     text-align: center;
     word-spacing:15px;
     
}
 
  .logo{
     color:blue;
      position:relative;
      font-size: 30px;
      text-decoration:none;
      text-transform:uppercase;
      font-weight:600;
     
      
}
  
     .navigation a{
      color:white;
      background-color:green;
      text-decoration:none;
      font-weight:500;
      word-spacing:10px;
      padding:2px 15px;
      font-size: 1.1em;
     
      
    
}
    .info{
        color:black;
        background-color:black;
        font-size:16px;
        font-weight:500;
        text-align: center;
        
}
     
    .info-btn{
          color:#fff;
          background:#226A80;
          text-decoration:none;
          text-transform:uppercase ;
          font-weight:700px;
          
}
      